@font-face {
  font-family: 'kwayy-brandico';
  src: url('../font/kwayy-brandico.eot?35645686');
  src: url('../font/kwayy-brandico.eot?35645686#iefix') format('embedded-opentype'),
       url('../font/kwayy-brandico.woff?35645686') format('woff'),
       url('../font/kwayy-brandico.ttf?35645686') format('truetype'),
       url('../font/kwayy-brandico.svg?35645686#kwayy-brandico') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'kwayy-brandico';
    src: url('../font/kwayy-brandico.svg?35645686#kwayy-brandico') format('svg');
  }
}
*/
 
 [class^="kwicon-brandico-"]:before, [class*=" kwicon-brandico-"]:before {
  font-family: "kwayy-brandico";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.kwicon-brandico-facebook-3:before { content: '\e800'; } /* '' */
.kwicon-brandico-facebook-rect:before { content: '\e801'; } /* '' */
.kwicon-brandico-twitter:before { content: '\e802'; } /* '' */
.kwicon-brandico-twitter-bird:before { content: '\e803'; } /* '' */
.kwicon-brandico-vimeo:before { content: '\e804'; } /* '' */
.kwicon-brandico-vimeo-rect:before { content: '\e805'; } /* '' */
.kwicon-brandico-tumblr:before { content: '\e806'; } /* '' */
.kwicon-brandico-tumblr-rect:before { content: '\e807'; } /* '' */
.kwicon-brandico-googleplus-rect:before { content: '\e808'; } /* '' */
.kwicon-brandico-github-text:before { content: '\e809'; } /* '' */
.kwicon-brandico-github:before { content: '\e80a'; } /* '' */
.kwicon-brandico-skype:before { content: '\e80b'; } /* '' */
.kwicon-brandico-icq:before { content: '\e80c'; } /* '' */
.kwicon-brandico-yandex:before { content: '\e80d'; } /* '' */
.kwicon-brandico-yandex-rect:before { content: '\e80e'; } /* '' */
.kwicon-brandico-vkontakte-rect:before { content: '\e80f'; } /* '' */
.kwicon-brandico-odnoklassniki:before { content: '\e810'; } /* '' */
.kwicon-brandico-odnoklassniki-rect:before { content: '\e811'; } /* '' */
.kwicon-brandico-friendfeed:before { content: '\e812'; } /* '' */
.kwicon-brandico-friendfeed-rect:before { content: '\e813'; } /* '' */
.kwicon-brandico-blogger:before { content: '\e814'; } /* '' */
.kwicon-brandico-blogger-rect:before { content: '\e815'; } /* '' */
.kwicon-brandico-deviantart:before { content: '\e816'; } /* '' */
.kwicon-brandico-jabber:before { content: '\e817'; } /* '' */
.kwicon-brandico-lastfm:before { content: '\e818'; } /* '' */
.kwicon-brandico-lastfm-rect:before { content: '\e819'; } /* '' */
.kwicon-brandico-linkedin:before { content: '\e81a'; } /* '' */
.kwicon-brandico-linkedin-rect:before { content: '\e81b'; } /* '' */
.kwicon-brandico-picasa:before { content: '\e81c'; } /* '' */
.kwicon-brandico-wordpress:before { content: '\e81d'; } /* '' */
.kwicon-brandico-instagram:before { content: '\e81e'; } /* '' */
.kwicon-brandico-instagram-filled:before { content: '\e81f'; } /* '' */
.kwicon-brandico-diigo:before { content: '\e820'; } /* '' */
.kwicon-brandico-box:before { content: '\e821'; } /* '' */
.kwicon-brandico-box-rect:before { content: '\e822'; } /* '' */
.kwicon-brandico-tudou:before { content: '\e823'; } /* '' */
.kwicon-brandico-youku:before { content: '\e824'; } /* '' */
.kwicon-brandico-win8:before { content: '\e825'; } /* '' */
.kwicon-brandico-amex:before { content: '\e826'; } /* '' */
.kwicon-brandico-discover:before { content: '\e827'; } /* '' */
.kwicon-brandico-visa:before { content: '\e828'; } /* '' */
.kwicon-brandico-mastercard:before { content: '\e829'; } /* '' */
.kwicon-brandico-houzz:before { content: '\e82a'; } /* '' */
.kwicon-brandico-bandcamp:before { content: '\e82b'; } /* '' */
.kwicon-brandico-codepen:before { content: '\e82c'; } /* '' */