@font-face {
  font-family: 'kwayy-lineicons';
  src: url('../font/kwayy-lineicons.eot?35211366');
  src: url('../font/kwayy-lineicons.eot?35211366#iefix') format('embedded-opentype'),
       url('../font/kwayy-lineicons.woff?35211366') format('woff'),
       url('../font/kwayy-lineicons.ttf?35211366') format('truetype'),
       url('../font/kwayy-lineicons.svg?35211366#kwayy-lineicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'kwayy-lineicons';
    src: url('../font/kwayy-lineicons.svg?35211366#kwayy-lineicons') format('svg');
  }
}
*/
 
 [class^="kwicon-lineicons-"]:before, [class*=" kwicon-lineicons-"]:before {
  font-family: "kwayy-lineicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.kwicon-lineicons-videocam:before { content: '\e800'; } /* '' */
.kwicon-lineicons-camera:before { content: '\e801'; } /* '' */
.kwicon-lineicons-photo:before { content: '\e802'; } /* '' */
.kwicon-lineicons-attach:before { content: '\e803'; } /* '' */
.kwicon-lineicons-lock:before { content: '\e804'; } /* '' */
.kwicon-lineicons-eye:before { content: '\e805'; } /* '' */
.kwicon-lineicons-tag:before { content: '\e806'; } /* '' */
.kwicon-lineicons-thumbs-up:before { content: '\e807'; } /* '' */
.kwicon-lineicons-pencil:before { content: '\e808'; } /* '' */
.kwicon-lineicons-comment:before { content: '\e809'; } /* '' */
.kwicon-lineicons-location:before { content: '\e80a'; } /* '' */
.kwicon-lineicons-cup:before { content: '\e80b'; } /* '' */
.kwicon-lineicons-trash:before { content: '\e80c'; } /* '' */
.kwicon-lineicons-doc:before { content: '\e80d'; } /* '' */
.kwicon-lineicons-note:before { content: '\e80e'; } /* '' */
.kwicon-lineicons-cog:before { content: '\e80f'; } /* '' */
.kwicon-lineicons-params:before { content: '\e810'; } /* '' */
.kwicon-lineicons-calendar:before { content: '\e811'; } /* '' */
.kwicon-lineicons-sound:before { content: '\e812'; } /* '' */
.kwicon-lineicons-clock:before { content: '\e813'; } /* '' */
.kwicon-lineicons-lightbulb:before { content: '\e814'; } /* '' */
.kwicon-lineicons-tv:before { content: '\e815'; } /* '' */
.kwicon-lineicons-desktop:before { content: '\e816'; } /* '' */
.kwicon-lineicons-mobile:before { content: '\e817'; } /* '' */
.kwicon-lineicons-cd:before { content: '\e818'; } /* '' */
.kwicon-lineicons-inbox:before { content: '\e819'; } /* '' */
.kwicon-lineicons-globe:before { content: '\e81a'; } /* '' */
.kwicon-lineicons-cloud:before { content: '\e81b'; } /* '' */
.kwicon-lineicons-paper-plane:before { content: '\e81c'; } /* '' */
.kwicon-lineicons-fire:before { content: '\e81d'; } /* '' */
.kwicon-lineicons-graduation-cap:before { content: '\e81e'; } /* '' */
.kwicon-lineicons-megaphone:before { content: '\e81f'; } /* '' */
.kwicon-lineicons-database:before { content: '\e820'; } /* '' */
.kwicon-lineicons-key:before { content: '\e821'; } /* '' */
.kwicon-lineicons-music:before { content: '\e822'; } /* '' */
.kwicon-lineicons-search:before { content: '\e823'; } /* '' */
.kwicon-lineicons-mail:before { content: '\e824'; } /* '' */
.kwicon-lineicons-heart:before { content: '\e825'; } /* '' */
.kwicon-lineicons-star:before { content: '\e826'; } /* '' */
.kwicon-lineicons-user:before { content: '\e827'; } /* '' */
.kwicon-lineicons-wallet:before { content: '\e828'; } /* '' */
.kwicon-lineicons-t-shirt:before { content: '\e829'; } /* '' */
.kwicon-lineicons-diamond:before { content: '\e82a'; } /* '' */
.kwicon-lineicons-shop:before { content: '\e82b'; } /* '' */
.kwicon-lineicons-food:before { content: '\e82c'; } /* '' */
.kwicon-lineicons-money:before { content: '\e82d'; } /* '' */
.kwicon-lineicons-truck:before { content: '\e82e'; } /* '' */
.kwicon-lineicons-beaker:before { content: '\e82f'; } /* '' */