/**

 *  Apicona Advanced - Base CSS file

 */

 

 @-webkit-keyframes slideInLeft {
 0% {
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
 visibility: visible;
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}
 @keyframes slideInLeft {
 0% {
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
 visibility: visible;
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}
 @-webkit-keyframes slideInRight {
 0% {
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
 visibility: visible;
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}
 @keyframes slideInRight {
 0% {
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
 visibility: visible;
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, nav, section, summary {
	display: block;
}
audio, canvas, video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
 [hidden] {
 display: none;
}
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
}
a {
	color: #2d2d2d;
	text-decoration: none;
}
a:focus, a:hover {
	outline: none;
	text-decoration: none;
}
a:active, a:hover {
	color: #2d2d2d;
	outline: none;
	text-decoration: none;
}
a:focus {
	color: #2d2d2d;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
	margin-top: 0px;
	margin-bottom: 15px;
}
address {
	font-style: italic;
	margin: 0 0 24px;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 14px;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
cite, dfn, em {
	font-style: italic;
}
pre {
	background: #f5f5f5;
	color: #666;
	font-family: monospace;
	font-size: 14px;
	margin: 20px 0;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
blockquote {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}
blockquote:before, blockquote:after {
	content: "";
	content: none;
}
blockquote {
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	margin: 24px 25px;
}
blockquote p {
	line-height: 1.45;
}
blockquote blockquote {
	margin-right: 0;
}
blockquote cite, blockquote small {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}
blockquote cite {
	display: block;
	padding-top: 12px;
	color: rgb(92, 92, 92);
}
blockquote em, blockquote i {
	font-style: normal;
	font-weight: 300;
}
blockquote strong, blockquote b {
	font-weight: 400;
}
small {
	font-size: smaller;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
dl {
	margin: 0 20px;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 20px;
}
menu, ol, ul {
	margin: 16px 0;
	padding: 0 0 0 25px;
}
ul li ul {
	list-style-type: circle;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}
li > ul, li > ol {
	margin: 0;
}
img {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
form {
	margin: 0;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
	white-space: normal;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}
button, input {
	line-height: normal;
}
button, html input[type="button"],  input[type="reset"],  input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	border-radius: 2px;
}
button[disabled], input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
	padding-right: 2px;
	width: 270px;
}
 input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	line-height: 2;
	margin: 0 0 20px;
	width: 100%;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
caption {
	font-size: 16px;
	margin: 20px 0;
}
th {
	font-weight: bold;
	text-transform: uppercase;
}
td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background: url(../images/dotted-line.png) repeat center top;
	background-size: 4px 4px;
	border: 0;
	height: 1px;
	margin: 0 0 24px;
}
.genericon:before, .menu-toggle:after, .featured-post:before, .date a:before, .entry-meta .author a:before, .format-audio .entry-content:before, .comments-link a:before,  .tags-links a:first-child:before, .categories-links a:first-child:before, .edit-link a:before, .attachment .entry-title:before, .attachment-meta:before, .attachment-meta a:before,  .comment-awaiting-moderation:before, .comment-reply-link:before, .comment-reply-login:before, .comment-reply-title small a:before, .bypostauthor > .comment-body .fn:before,  .error404 .page-title:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	vertical-align: text-bottom;
}
/* Clearing floats --------------------------------*/

.clear:after, .attachment .entry-header:after, .site-footer .widget-area:after, .entry-content:after, .page-content:after, .navigation:after, .nav-links:after,  .gallery:after, .comment-form-author:after, .comment-form-email:after, .comment-form-url:after, .comment-body:after {
	clear: both;
}
.clear:before, .clear:after, .attachment .entry-header:before, .attachment .entry-header:after, .site-footer .widget-area:before, .site-footer .widget-area:after,  .entry-content:before, .entry-content:after, .page-content:before, .page-content:after, .navigation:before, .navigation:after, .nav-links:before, .nav-links:after,  .gallery:before, .gallery:after, .comment-form-author:before, .comment-form-author:after, .comment-form-email:before, .comment-form-email:after, .comment-form-url:before,  .comment-form-url:after, .comment-body:before, .comment-body:after {
	content: "";
	display: table;
}
/* Assistive text --------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

 

 /* Print */

/* Retina-specific styles. */

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
/*	.site-header .search-field {

		background-image: url(../images/search-icon-2x.png);

	}

	.format-audio .audio-content, .format-status .entry-content:before, .format-status .entry-meta:before, .comment-list > li:after, .comment-list .children > li:before {

		background-image: url(../images/dotted-line-2x.png);

	}*/

}
 @media print {
body {
	background: none !important;
	color: #000;
	font-size: 10pt;
}
footer a[rel="bookmark"]:link:after, footer a[rel="bookmark"]:visited:after {
	content: " [" attr(href) "] "; /* Show URLs */
}
.site {
	max-width: 98%;
}
.site-header {
	background-image: none !important;
}
.site-header .home-link {
	max-width: none;
	min-height: 0;
}
.site-title {
	color: #000;
	font-size: 21pt;
}
.site-description {
	font-size: 10pt;
}
.author-avatar, .site-footer, .comment-respond, .comments-area .comment-edit-link, .comments-area .reply, .comments-link, .entry-meta .edit-link, .page-links, .site-content nav,  .widget-area, .main-navigation, .navbar, .more-link {
	display: none;
}
.entry-header, .entry-content, .entry-summary, .entry-meta {
	margin: 0;
	width: 100%;
}
.page-title, .entry-title {
	font-size: 21pt;
}
.entry-meta, .entry-meta a {
	color: #444;
	font-size: 10pt;
}
.entry-content img.alignleft, .entry-content .wp-caption.alignleft {
	margin-left: 0;
}
.entry-content img.alignright, .entry-content .wp-caption.alignright {
	margin-right: 0;
}
.format-image .entry-content .size-full {
	margin: 0;
}
/* Remove colors from post formats */

.hentry {
	background-color: #fff;
}
/* Comments */

.comments-area > li.comment {
	background: none;
	position: relative;
	width: auto;
}
.comment-metadata {
	float: none;
}
.comment-author .fn, .comment-reply-link, .comment-reply-login {
	color: #333;
}
}
/*

 * Responsive images

 *

 * Fluid images for posts, comments, and widgets

 */

.entry-content img, .entry-summary img, .comment-content img, .widget img, .wp-caption {
	max-width: 100%;
	height: auto;
}
.widget .thememount_widget_flickr_wrapper img {
	max-width: 70px;
	height: 70px;
}
/* Make sure images with WordPress-added height and width attributes are scaled correctly. */

.entry-content img, .entry-summary img, .comment-content img[height], img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"] {
	height: auto;
}
.tm-noimg, img.size-full, img.size-large, img.wp-post-image {
	height: auto;
	max-width: 100%;
}
/* Make sure videos and embeds fit their containers. */

embed, iframe, object, video {
	max-width: 100%;
	border: 0px;
}
/* Override the Twitter embed fixed width. */

.entry-content .twitter-tweet-rendered {
	max-width: 100% !important;
}
/* Isotope section --------------------------------*/

.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */

	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
/* Disabling Isotope CSS3 transitions */

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
